<header class="header"> 
    <div class="header_icon">
        <img src="images/Healthy-pet.png" alt="Healthy Pet" class="header_icon-logo">
    </div>
    <div class="logo_navigation">
        <ul class="logo_navigation-menu">
            <li class="menu_services">Services</li>
            <li class="menu_pricing">Pricing</li>
            <li class="menu_testimonilas">Testimonials</li>
            <li class="menu_contact_us">Contact us</li>
        </ul>
    </div>
    <div class="header_socials">
        <a href="https://www.facebook.com/" class="header_socials-fb">
            <img src="images/facebook-icon.jpg" alt="" class="header_socials-icon">
        </a>
        <a href="https://www.instagram.com/" class="header_socials-inst">
            <img src="images/instagram_icon.png" alt="" class="header_socials-icon">
        </a>
        <a href="https://www.youtube.com/" class="header_socials-yt">
            <img src="images/youtube-icon.jpg" alt="" class="header_socials-icon">
        </a>
    </div>
    <div class="background-block">
        <div class="background-block_image">
        
        </div>
    </div>
    
</header>
<main>
    <div class="header_cover">
        <p class="h_text-content">— Hello, We're Healthy Pet</p>
        <h2 class="header__item">We Take Care of Your Pets as if They Were Our Own.</h2>
        <p class="c_text-content">Welcome to our veterinary clinic in New York. We will make sure that your pet is always healthy and cheerful.</p>
        <div class="buttons_header">
            <a href="#" class="buttons_header-app">
                <span class="editor-button__text" contenteditable="true">Make Appointment</span>
                <span class="button__icon" aria-hidden="true">
                    <span class="icon-elemnt">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewbox="0 0 512 512" style="enable-background:new 0 0 512 512;max-width:100%" xml:space="preserve" height="100%">
                            <polygon points="160,128.4 192.3,96 352,256 352,256 352,256 192.3,416 160,383.6 287.3,256 " style fill="currentColor"></polygon>
                        </svg>
                    </span>
                </span>
            </a>
            <a href="#" class="buttons_header-numb">
                <span class="editor-border__numb">
                    <span class="editor-button__numb" contenteditable="true">+1 (234) 567 89 00</span>
                </span>
            </a>
        </div>
    </div>
</main>